<%- include("../partials/header"); -%>

<section id="admin">
<div class="container">
    <h1>
        <% if(locals.warning){warning}else{warning=" "}%>
        <%=warning%>
    </h1>
    <div class="admin">
        <ul>
            <li><a href="/admin/compose"><button class="button">Utwórz post</button></a></li>

            <li><a href="/admin/deletepost"><button class="button">Usuń post</button></a></li>

            <li><a href="/admin/editpost"><button class="button">Edytuj post</button></a></li>

            <li><a href="/admin/announcements"><button class="button">Ogłoszenia</button></a></li>

        </ul>
        <a href="/logout"><button class="button-second">Wyloguj</button></a>


</div>
</div>
</section>

<%- include("../partials/footer"); -%>