<footer>
    <div class="socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright">
        <p>adminware &copy; 2023</p>
    </div>
</footer>
</body>
</html>