<footer>
    <div class="socials">
        <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright container">
        <p>adminware &copy; <%= new Date().getFullYear();%> </p>
        <p>powered by <a href="http://adam-olszewski.pl"><img src="http://adam-olszewski.pl/resources/AODesign.webp" alt="AO-Design" width="20px" height="10px"></a> AO-Design</p>
    </div>
</footer>
<script src="/script.js"></script>
<link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css">
</body>
</html>