<footer>
    <div class="socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="copyright container">
        <p>adminware &copy; <%= new Date().getFullYear();%> </p>
        <p>powered by <img src="http://adam-olszewski.pl/resources/AODesign.webp" alt="AO-Design" width="20px"></p>
    </div>
</footer>
<script src="/script.js"></script>
</body>
</html>