<%- include("partials/header"); -%>

<section id="admin">

    <h1>
        <% if(locals.warning){warning}else{warning=" "}%>
        <%=warning%>
    </h1>
<a href="/admin/compose">Utwórz post</a>
<a href="/admin/deletepost">Usuń post</a>
<a href="/admin/editpost">Edytuj post</a>
</section>

<%- include("partials/footer"); -%>