

<section id="login">
    <div class="login-box">
 
<form action="/register" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <button class="button">register</button>
</form>
    </div>
</section>

